[submodule "mlib"]
	path = mlib
	url = https://github.com/davisdude/mlib.git
[submodule "bump"]
	path = bump
	url = https://github.com/kikito/bump.lua.git
[submodule "lib/shack"]
	path = lib/shack
	url = https://github.com/Ulydev/shack.git
